.App {
  text-align: center;
}
button{
  outline: none
}

.input.focus {
  outline: none;
}

.input.green {
  border: 1px solid blue
}

.input.red {
  border: 1px solid red
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}