.header {
  display: flex;
  display: flex;
  justify-content: space-around;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.nav__item {
  margin-right: 10px;
}
button {
  cursor: pointer;
}
.navList {
  list-style: none;
  display: flex;  
}